# Ignore virtual environments
venv/
*.pyc
__pycache__/

# Ignore data folders
data/
results/
clickhouse-data/

# Ignore local config
.python-version

# Ignore dependency caches
.poetry/
*.lock

# Ignore OS/system files
.DS_Store
Thumbs.db

# Optionally ignore compiled/misc
*.log
*.sqlite3